<!DOCTYPE html>
<html lang=en>	

<head>
  <title>Dark Castle</title>
  <link rel="stylesheet" href="static/css/style.css" type="text/css">
  {% block head %}{% endblock %}
</head>

<body>

  <header id="main-header">
    <div class="container">
      <h1>Dark Castle</h1>
    </div>
  </header>

  <nav id="navbar">
    <div class="container">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/readme">Read Me</a></li>
        <li><a href="/whatis">What is IF</a></li>
        <li><a href="/ifyou">If You..</a></li>
        <li><a href="/howit">How It</a></li>
      </ul>
    </div>
  </nav>

  <section id="showcase">
  <div class="container">
    <h1>Enter the castle! Get the gold! Save the land! (But DON'T eat the biscuits)
    </h1>
  </div>
  </section>

	<div class="container">
		<section id="main">
  		{% block body %}{% endblock %}
  		</section>
	</div>

	<footer id="main-footer">
		<p>Copyright &copy; 2020 Dark Castle</p>
	</footer>

</body>
</html>


