{% extends 'base_new2.html' %}


{% block head %}
<title>How It Works</title>
{% endblock %}

{% block body %}
<div class="container">
  <h1>How It Works (I Think)</h1>
  
   <p>I wrote the Dark Castle text game in order to learn some Python. I assumed it would be trivial to host my app on the web. I was wrong. </p>

   <p>As it turns out, I've now spent nearly as much time learning about hosting a web app as I did about Python itself. One of the challenges is simply to understand how all the moving pieces work together. This changes over time so what I show here may not be true in a few years. And honestly, parts of it may be wrong right now - I'm learning as I go - so please let me know if you spot errors. With those caveats, here's how I think it works:</p>

   <div class = "image">
       <img src="/static/webflow.jpg">
   </div>
   
   <p>
   <h3>Dev Flow</h3>
   <ol type="A">
      <li>Files live in Working Copy iPad Git client</li>
      <li>Pythonista IDE and Textastic text editor update documents in Working Copy</li>
      <li>Working Copy updates are committed locally</li>
      <li>Working Copy updates are pushed to GitHub origin via Git protocol (port 9418; similar to ssh but no auth)</li>
      <li>From bash console, pull GitHub updates to pythonanywhere.com via Git protocol</li>
   </ol>
   </p>
   <br>

   <p>
   <h3>Web Flow</h3>
   <ol>
      <li>Based on the URL entered, the Client Browser hits the Web Server hosted on pythonanywhere.com. At present, NGiNX is the most popular dedicated Web Server but I have no knowledge of what Web Server pythonanywhere.com uses.</li>
      <li>Web Server communicates with WSGI (Web Server Gateway Interface). The WSGI is middleware that allows any WSGI-compliant Web Server to interface with any WSGI-compliant app framework. gUnicorn (Green Unicorn) is presently the most popluar dedicated WSGI but I have no knowledge of what WSGI pythonanaywhere uses.</li>
      <li>WSGI interfaces with Flask Micro-Framework</li>
      <li>Flask pulls (or creates) sessision variables stored in client side cookies; Usually just User ID but in my code all persistent variables. Also, based on the url address requested, Flask routes to the correct html generation sequence.</li>
      <li>Flask Micro-Framework calls Python Function. Each instance of the Python Function runs in its own memory space.</li>
      <li>Typically the Python Function would use a DB key stored in session variables to read & write session-specific data from a Database (e.g. SQLAlchemy) but in my code it's all in cookies</li>
      <li>The Python function returns varables to Flask</li>
      <li>Flask updates persistent session variables and stores them in the browser cookie</li>
      <li>Flask passes the data returned by thge Python Function to the Jinja2 Template Engine</li>
      <li>Jinja2 merges the Python Function data with the HTML Templates in /templates (e.g. base.html, index.html) to produce the Custom HTML Web Page (Note: the /templates location is defined by Flask which is tightly integrated with Jinja2)</li>
      <li>Jinja2 returns the Custom HTML Web Page to Flask</li>
      <li>The Custom HTML Web Page is sent by Flask to the WSGI</li> 
      <li>The WSGI passes the Custom HTML Web Page to the Web Server</li>
      <li>The Web Server applies static content (e.g. CSS styling and images) to the Custom HTML Web Page (Note: the /static location is defined by Flask but I believe it is applied to the Custome HTML Page by the Web Server)</li>
      <li>The Web Server returns the Fully Formatted Web Page to the Client Browser</li>
   </ol>

   <p>Diagram source found 
      <a href="https://github.com/tsnellgrove/draw.io/blob/master/Web%20Flow.drawio">here</a>
   </p>

   <p>- Tom</p>

   <img src="/static/email11.png">
   
</div>


{% endblock %}


