{% extends 'base_new2.html' %}


{% block head %}
<title>If You Teach Your Pa Some Python</title>
{% endblock %}

{% block body %}
<div class="container">
  <h1>If You Teach Your Pa Some Python<br>
  (A Cautionary Tale)</h1>
  
      <p>If you teach your Pa some python<br>
	He will get excited<br>
	And want to start "a project"<br>
	He will wander around the house<br>
	Saying "hmmm"<br>
	(thinking of an idea)<br>
	And before you know it<br>
	He will be writing a "text adventure"<br>
	(Which is a strange old game with only words)<br>
	Then he will get very enthusiastic<br>
	And declare that he needs an IDE<br>
	(Because someone on YouTube has one)<br>
	Then there will be typing<br>
	And more typing<br>
	And more typing</p>

    <p>Next it will get a bit tricky<br>
	And he will wander around the house<br>
	Saying "hmmm"<br>
	(thinking about dictionaries of dictionaries)<br>
	Eventually he will want you to try his game<br>
	And will be very proud to have created<br>
	One door and one key<br>
	But there won't actually be a room<br>
	Behind the door<br>
	Which won't be very interesting<br>
	So then there will be typing<br>
	And more typing<br>
    And more typing</p>

    <p>Then one day<br>
	There will be some unfortunate language in the house<br>
	And he will declare that he needs "version control"<br>
	(Which means "Git")<br>
	And he will wander around the house<br>
	Saying "hmmm"<br>
	(thinking about Git clients and respositores)<br>
	Then he will proudly tell you<br>
	That his code is on "GitHub"<br>
	And he will go back to typing<br>
	And more typing<br>
    And more typing</p>

    <p>Eventually<br>
	After more "hmmm"s<br>
	And much more typing<br>
	the game will be "mostly done"<br>
	He will be very proud of it<br>
	And want the whole family to play it<br>
	To give him "feedback"<br>
	(but only Mommy<br>
	will actually play the whole thing..<br>
	and she'll help him with his spelling too)</p>

	<p>So then<br>
	He'll want to show it to all his friends<br>
	He will declare that he is "just going to put it on the web"<br>
	Which will mean<br>
	Learning Flask and Jinja2<br>
	And I'm sorry to say<br>
	There will thne be more unfortunate language in the house<br>
	Because client-side programming is "strange and unnatural"<br>
	But eventually<br>
	After quite a bit of typing<br>
	(And delting)<br>
	And some wandering around the house<br>
	Saying "hmmm"<br>
	And more typing<br>
	(And more deleting)<br>
	And a last bit of typing</p>

	<p>There will be "much rejoicing"<br>
	And the game will be running<br>
	On the local web server<br>
	He will declare "now I just need to spruce it up a bit"<br>
	Which will mean "CSS"<br>
	And more YouTube classes<br>
	And also "Exercising aesthetic judgment"<br>
	Then there will be<br>
	More wandering about the house<br>
	Saying "hmmm"<br>
	Then it will be time again for typing<br>
	And more typing<br>
	And a bit of photo editing</p>

	<p>Finally<br>
	He will be ready to put the game on the "real" web<br>
	Which wil mean a "Pythonanywhere"<br>
	Which will seem great at first<br>
	Until it becomes clear that this means<br>
	Bash shell and vi<br>
	Then there will be more unforutunate language in the house<br>
	And also long stories<br>
	About the last time he used vi<br>
	30 years ago<br>
	But after a bit more typing<br>
	and a few more "hmmm"s</p>

	<p>At last<br>
	The game will be up on the "real" web<br>
	He will send everyone he knows a link to it<br>
	Then just when the "project"<br>
	Is finally finished<br>
	he will declare that he needs to do it all over again "right"<br>
	Which will mean "object oriented code with a NoSQL DB"<br>
	(This is why this is a cautionary tale)</p>
  
	<p>- Tom</p>

</div>
{% endblock %}

