<!DOCTYPE html>
<html>
  <head>
    <title>Read Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Read Me</h2>
      <br>

      <p>Here is some explanitory text</p>
      <br>
      
      <p>Enter your command:</p>
      <form>
          <p><input name="text1" /></p>
          <p><input type="submit" value="Perform Command" /></p>
      </form>

      <p>Click <a href="/">here</a> to go home.</p>
    </div>
  </body>
</html>



