{% extends 'base_new2.html' %}


{% block head %}
<title>Read me</title>
{% endblock %}

{% block body %}
<div class="container">
  <h1>Dark Castle Read Me</h1>
  
   <p>"Dark Castle" is a very simple Zork-like text adventure game. I wrote it in order to teach myself some Python. The program was developed using Pythonista and Working Copy on an iPad.</p>

	<p>The text interpreter's linguistics are very basic. All commands are either one word (a simple command verb like "north") or two words (simple verb-noun combinations like "attack goblin"). Adjectives are directly attached to the noun they are associated with via an underscore (e.g. "rusty_key"). There are no articles, pronouns, or direct objects.</p>

	<p>There are only four rooms and the puzzle difficulty progresses from trivial to moderate through the course of the game. The content is appropriate for kids.</p>

	<p>I'm very much a beginner at both Python and text adventure writing so I welcome your feedback and suggestions! Also, feel free to fork my code with new or different rooms, features, and verbs. Let me know if you do - I would love to play whatever game you create! I do ask that you credit my initial work and that you clearly state in the intro if the game is no longer appropriate for kids.</p>
	
	<p>Now that I've "flaskified" the app and put it on the web my goal is to get feedback on it and then use that feedback to create an object-oriented version that is backed by a database and supports better linguistics. Any advice on object oriented techniques is much appreciated!</p>

	<p>Source code can be found 
        <a href="https://github.com/tsnellgrove/dark_castle2">here</a>
	</p>

	<p>- Tom</p>

</div>

<div class="email-image">
    <img src="/static/email11.png">
</div>

{% endblock %}


